Testlib/obj/
Testlib/bin/
source/packages/
packages/
source/Testlib/bin/Debug/Testlib.Resource.en-gb.json
source/Testlib/bin/Debug/Testlib.Resource1.json
source/ResxToJson.MSBuild/obj/Debug/ResxToJson.MSBuild.csproj.FileListAbsolute.txt
